h1 {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 36pt;
    color: #707070;
    padding-left: 24px;
    text-align: left;
    font-weight: 500;
}

h3 {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 30pt;
    color: #707070;
    padding-left: 24px;
    padding-top: 32px;
    text-align: left;
    margin: 0;
    font-weight: 500;
}

h4 {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 24pt;
    font-weight: normal;
    color: #707070;
    margin: 8px;
    text-align: left;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.main {
    /*margin-left: 260px;*/
    margin-left: 20px;
}

.sidebar {
    background: rgb(2,43,244);
    background: linear-gradient(0deg, rgba(2,43,244,1) 0%, rgba(0,164,255,1) 100%);
    height: 100%;
    width: 260px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.sidebar > header {
    color: #005EFF;
    margin: 36px;
    padding: 8px;
    background: #D2E3FF;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 24pt;
    text-align: center;
    border-radius: 8px;

}

.sidebar > p {
    margin: 0 0 0 74px;
    padding: 8px 65px 8px 24px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 24pt;
    text-align: left;
}

.pagelink {
    background: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 24pt;
    text-align: center;
}

.pagelink[id="selected"] {
    background: rgb(2,43,244);
    border-radius: 8px 0 0 8px;
}

.sideBottom {
    position: absolute;
    bottom: 36px;
    left: 36px;
    background: #D2E3FF;
    border-radius: 8px;
    padding: 8px;
    flex: 1;
    flex-wrap: wrap;
}

.sideBottom > p {
    color: #005EFF;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 18pt;
    text-align: center;
    float: none;
}

.sideBottom > p[id=name] {
    text-decoration: underline;
}

.sideBottom .submit {
    align-self: flex-end;
    float: none;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 8px;
    background: rgba(210,227,255,0.5);
}
::-webkit-scrollbar-track:hover {
    background: rgba(210,227,255,1);
    visibility: visible;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(0,94,255,0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,94,255,1);
    visibility: visible;
}

.linkIntro {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 24pt;
    color: #707070;
    padding-left: 24px;
    padding-bottom: 12px;
    text-align: left;
    display: inline-block;
}

a:link {
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
}

.buttonBigNews {
    background-color:  var(--color2);
    border: 2px solid  var(--color1);
    border-radius: 8px;
    color:  var(--color1);
    padding: 2px 12px 8px 12px;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 18pt;
    display: inline-block;
    margin-left: 8px;
}
.buttonBigNews:hover {
    background-color:  var(--color1);
    border: 2px solid  var(--color2);
    color:  var(--color2);
}

p {
    margin: 8px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 16pt;
    color: #707070;
    text-align: left;
}

.quickArticlesWrap {
    overflow-x: auto;
    margin: 16px;
}

.quickArticles {
    align-items: flex-start;
    height: fit-content;
    margin-bottom: 32px;
    display: table;
    border-spacing: 16px;
}

.container {
    padding: 16px 16px 80px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    border-color: #707070;
    display: table-cell;
    flex-flow: wrap;
    max-width: 420px;
    min-width: 420px;
    position: relative;
}
.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-color: #707070;
}

.newsSourceSm {
    background-color:  var(--color4);
    border: 2px solid  var(--color3);
    border-radius: 8px;
    color:  var(--color3);
    padding: 8px;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    align-self: flex-start;
    margin: 8px;
    display: inline-block;
    word-wrap: break-word;
}

.artScore {
    background-color:  var(--color4);
    border: 2px solid  var(--color3);
    border-radius: 8px;
    color:  var(--color3);
    padding: 8px 12px 8px 12px;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    align-self: baseline;
    margin: 8px;
    display: inline-block;
    word-wrap: break-word;
}

.buttonDev {
    background-color: #cde5ce;
    border: 2px solid #009229;
    border-radius: 8px;
    color: #009229;
    padding: 8px 12px 8px 12px;
    text-align: center;
    font-family: "consolas", monospace;
    font-size: 12pt;
    margin: 16px 24px;
    display: inline-block;
}

.buttonDev:hover {
    background-color: #009229;
    border: 2px solid #cde5ce;
    border-radius: 8px;
    color: #cde5ce;
    padding: 8px 12px 8px 12px;
    text-align: center;
    font-family: "consolas", monospace;
    font-size: 12pt;
    margin-left: 24px;
    display: inline-block;
}

.articleLink {
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    color: #aaaab1;
    align-self: center;
    margin-left: auto;
}

.articleLink:hover {
    color: #005EFF;
    text-decoration: underline;
}

.bottom-wrap {
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: flex;
    flex-direction: row;
    width: 90%;
}

.ArticleDel {
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    display: inline-block;
    color: #aaaab1;
    text-decoration: underline;
    align-self: flex-start;
}

.ArticleDel:hover {
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    display: inline-block;
    color: #cd0808;
    text-decoration: underline;
    align-self: flex-start;
}

.showMore {
    background-color: #D2E3FF;
    border: 2px solid #005EFF;
    border-radius: 8px;
    color: #005EFF;
    padding: 8px 12px 8px 12px;
    text-align: left;
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    align-self: center;
}

.login {
    font-family: "Segoe UI", sans-serif;
    font-size: 18pt;
    background-color: #D2E3FF;
    color: #707070;
    border: 2px solid #005EFF;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    width: 65%;
    margin-right: 24px;
    float: right;
}

.submit {
    background-color: #D2E3FF;
    border: 2px solid #005EFF;
    border-radius: 8px;
    color: #005EFF;
    padding: 8px 24px 8px 24px;
    text-align: left;
    font-family: "Segoe UI", sans-serif;
    font-size: 18pt;
    float: right;
    margin-top: 32px;
}

.submit:hover {
    background-color: #005EFF;
    border: 2px solid #D2E3FF;
    color: #D2E3FF;
}

.Q1Box {
    border-radius: 12px;
    background-color: #f2f2f2;
    padding: 36px;
    width: fit-content;
    margin-left: 24px;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.loginHead {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 24pt;
    color: #707070;
    padding-left: 24px;
    display: inline-block;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.SignUpbutton {
    display: inline-block;
    background-color: #005EFF;
    border: 2px solid #D2E3FF;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 8px 24px 8px 24px;
    text-align: left;
    font-family: "Segoe UI", sans-serif;
    font-size: 18pt;
    margin-top: 32px;

}


.BackButton {
    display: inline-block;
    background-color: #005EFF;
    border: 2px solid #D2E3FF;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 8px 24px 8px 24px;
    text-align: left;
    font-family: "Segoe UI", sans-serif;
    font-size: 18pt;
    margin-top: 32px;
}

.SignUpbutton:hover {
    background-color: #005EFF;
    border: 2px solid #D2E3FF;
    color: #D2E3FF;
}

label {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 18pt;
    color: #707070;
    text-align: left;
    display: inline-block;
    width: 444px;
}

input[type="text"] {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 18pt;
    color: #707070;
    width: 444px;
    padding: 8px;
    display: inline-block;
    border: 2px solid #005EFF;
    border-radius: 6px;
    margin-bottom: 8px;
}

input[type="password"] {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 18pt;
    color: #707070;
    width: 444px;
    padding: 8px;
    display: inline-block;
    border: 2px solid #005EFF;
    border-radius: 6px;
    margin-bottom: 8px;
}

.boxHeader {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 36pt;
    color: #707070;
    text-align: left;
    margin: 0 0 32px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #707070;
}

p {
    margin: 0;
    margin-block-end: 8px;
}

.fa, .fas {
    font-weight: 100;
}

.addArt {
    margin-left: 32px;
    width: max-content;
    position: relative;
    height: 300px;
}

.addArt .submit {
    position: absolute;
    right: 0;
    bottom: 0;
}













/* TEMP SIDEBAR STUFF */

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 50px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 18pt;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #FFFFFF;
    display: none;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.2);
}

/* Position and style the close button (top right corner) */
.sidebar .sidebarbutton {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 24px;
    margin-left: 50px;
    display: block;
}

.sidebar .sidebarbutton:hover {
    background: rgba(0, 0, 0, 0);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main2 {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 0;
    margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.selected {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 18pt;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #FFFFFF;
    display: none;
    transition: 0.3s;
    background: #002d69;
}

.selected:hover {
    background: rgba(0, 0, 0, 0.2);

}



