h1 {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 36pt;
    color: #707070;
    padding-left: 24px;
    text-align: left;
}

h3 {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 30pt;
    color: #707070;
    padding-left: 24px;
    padding-top: 32px;
    text-align: left;
    margin: 0;
}

h4 {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 24pt;
    font-weight: normal;
    color: #707070;
    margin: 8px;
    text-align: left;
    align-self: stretch;
}

.linkIntro {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 24pt;
    color: #707070;
    padding-left: 24px;
    padding-bottom: 12px;
    text-align: left;
    display: inline-block;
}

a:link {
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
}

.buttonBiasRating {
     background-color: var(--color2);
     border: 2px solid var(--color1);
     border-radius: 8px;
     color: var(--color1);
     padding: 2px 12px 8px 12px;
     text-align: center;
     font-family: "Segoe UI", sans-serif;
     font-size: 18pt;
     display: inline-block;
 }
.buttonBiasRating:hover {
    background-color:  var(--color1);
    border: 2px solid  var(--color1);
    border-radius: 8px;
    color:  var(--color2);
    padding: 2px 12px 8px 12px;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 18pt;
    display: inline-block;
}

.buttonBigNews {
    background-color:  var(--color2);
    border: 2px solid  var(--color1);
    border-radius: 8px;
    color:  var(--color1);
    padding: 2px 12px 8px 12px;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 18pt;
    display: inline-block;
}
.buttonBigNews:hover {
    background-color:  var(--color1);
    border: 2px solid  var(--color1);
    border-radius: 8px;
    color:  var(--color2);
    padding: 2px 12px 8px 12px;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 18pt;
    display: inline-block;
}


p {
    margin: 8px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 16pt;
    color: #707070;
    text-align: left;
}

.quickArticles {
    align-items: flex-start;
    height: fit-content;
    margin: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 2fr));
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-color: #707070;
}

.container {
    width: 420px;
    margin: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    border-color: #707070;
    display: flex;
    flex-flow: wrap;
}

.newsSourceSm {
    background-color:  var(--color4);
    border: 2px solid  var(--color3);
    border-radius: 8px;
    color:  var(--color3);
    padding: 8px;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    align-self: flex-start;
}

.artScore {
    background-color:  var(--color4);
    border: 2px solid  var(--color3);
    border-radius: 8px;
    color:  var(--color3);
    padding: 8px 12px 8px 12px;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    align-self: baseline;
}

.buttonDev {
    background-color: #cde5ce;
    border: 2px solid #009229;
    border-radius: 8px;
    color: #009229;
    padding: 8px 12px 8px 12px;
    text-align: center;
    font-family: "consolas", monospace;
    font-size: 12pt;
    margin-left: 24px;
    display: inline-block;
}
.buttonDev:hover {
    background-color: #009229;
    border: 2px solid #cde5ce;
    border-radius: 8px;
    color: #cde5ce;
    padding: 8px 12px 8px 12px;
    text-align: center;
    font-family: "consolas", monospace;
    font-size: 12pt;
    margin-left: 24px;
    display: inline-block;
}

.articleLink {
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    color: #aaaab1;
    align-self: flex-end;
    margin-left: auto;
}

.articleLink:hover {
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    color: #005EFF;
    align-self: flex-end;
    text-decoration: underline;
    margin-left: auto;
}

.ArticleDel {
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    display: inline-block;
    color: #aaaab1;
    text-decoration: underline;
    align-self: flex-start;
}

.ArticleDel:hover {
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    display: inline-block;
    color: #cd0808;
    text-decoration: underline;
    align-self: flex-start;
}

.showMore {
    background-color: #D2E3FF;
    border: 2px solid #005EFF;
    border-radius: 8px;
    color: #005EFF;
    padding: 8px 12px 8px 12px;
    text-align: left;
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    align-self: center;
}

.login {
    font-family: "Segoe UI", sans-serif;
    font-size: 18pt;
    background-color: #D2E3FF;
    color: #707070;
    border: 2px solid #005EFF;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    width: 65%;
    margin-right: 24px;
    float: right;

}

.submit {
    background-color: #D2E3FF;
    border: 2px solid #005EFF;
    border-radius: 8px;
    color: #005EFF;
    padding: 8px 12px 8px 12px;
    text-align: left;
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    margin-left: 24px;
    margin-top: 24px;
    margin-right: 24px;
    float: right;
}

.submit:hover {
    background-color: #005EFF;
    border: 2px solid #D2E3FF;
    color: #D2E3FF;
}

.Q1Box {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: fit-content;
    margin-left: 24px;
}

.loginHead {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 24pt;
    color: #707070;
    padding-left: 24px;
    display: inline-block;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.SignUpbutton {
    display: inline-block;
    background-color: #D2E3FF;
    border: 2px solid #005EFF;
    border-radius: 8px;
    color: #005EFF;
    padding: 8px 12px 8px 12px;
    text-align: left;
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    margin-left: 24px;
    margin-top: 24px;

}
.SignUpbutton:hover {
    display: inline-block;
    background-color: #005EFF;
    border: 2px solid #D2E3FF;
    border-radius: 8px;
    color: #D2E3FF;
    padding: 8px 12px 8px 12px;
    text-align: left;
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    margin-left: 24px;
    margin-top: 24px;
}

label {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 18pt;
    color: #707070;
    text-align: left;
    display: inline-block;
    width: 160px;
}

input[type="text"] {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 18pt;
    color: #707070;
    width: 200px;
    padding: 6px;
    display: inline-block;
    border: 1px solid #005EFF;
    border-radius: 6px;
}

input[type="password"] {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 18pt;
    color: #707070;
    width: 200px;
    padding: 6px;
    display: inline-block;
    border: 1px solid #005EFF;
    border-radius: 6px;
}