#set($title = "About Page" )
#parse("public/templates/top.vm")

<!html--->
<div id="mySidebar" class="sidebar">
    <a id="sbbutton" href="javascript:void(0)" class="sidebarbutton" onclick="toggle()"><i class="fas fa-bars"></i></a>
    <a id="dashboard" href="/"><i class="fas fa-home"></i> Dashboard</a>
    <a id="userstats" href="/userstats"><i class="fas fa-user"></i> User Statistics</a>
    <a id="genstats" href="/genstats"><i class="fas fa-chart-bar"></i> General Statistics</a>
    <a id="about" href="/about" class="selected"><i class="fas fa-info-circle"></i> About</a>
    <a id="signout" href="/" style="display:none;" onclick="deleteAllCookies()"><i class="fas fa-sign-out-alt"></i> Logout</a>
</div>

<div id="main2">
    <script src="../js/sidebar.js"></script>
    <div class="main">
        <div class="mainHalf" style="width: 800px; padding-left: 24px">
        <h1 style="padding-left: 0">About our project</h1>
            <p>Apple Joose intends to consolidate and rank our users' reading history to show them the relative bias of each
            of the content that they read online.</p>
            <br />
            <p class="infoHeader">Explanation of metrics</p>
            <p class="boldInfo">Bias rating</p>
            <p class="info">The average score of all of your read articles rated from -42 (far left) to 42 (far right)</p>
            <p class="boldInfo">Type of bias</p>
            <p class="info">The relative meaning of your bias rating, ranked from minimal, moderate, Strong and Extreme for Conservative and Liberal</p>
            <p class="boldInfo">Favorite news source</p>
            <p class="info">Your most frequently visited news source</p>
            <p class="boldInfo">Favorite topic</p>
            <p class="info">Your most frequently viewed news topic</p>
            <br />
            <br />
            <p class="infoHeader">Collected statistics</p>
            <p class="boldInfo">Average site-wide bias rating over time</p>
            <p class="info">The daily average of all the users' bias ratings across the side, most useful for comparing your bias rating to others</p>
            <p class="boldInfo">User's average bias rating over time for user</p>
            <p class="info">The daily average for the user</p>
            <p class="boldInfo">Site-wide favorite article topics</p>
            <p class="info">A collection of the most frequently read article topics across all users</p>
            <p class="boldInfo">User favorite article topics</p>
            <p class="info">A collection of the most frequently read article topics across current user</p>
        </div>
    </div>

</div>


#parse("public/templates/bottom.vm")