<h3>Your most recent articles</h3>
<div class="quickArticles">
    <div class="container">
        <h4>Justice Department Files
            Google Antitrust Lawsuit</h4>
        <p class="newsSourceSm">The Wall Street Journal</p>
        <p class="artScore">-0.2</p>
        <p>The Justice Department filed a long-awaited antitrust
            lawsuit Tuesday alleging that Google uses anticompetitive
            tactics to preserve a monopoly for its flagship search
            engine and related advertising business, illegally
            choking off potential competition...</p>
    </div>
</div>