<h3>Your most recent articles</h3>
<div class="quickArticlesWrap">
<div class="quickArticles">
    #if($Articles.size() != 0)
        #foreach($Article in $Articles)
            ## Article Color Variables
            #if($Article.getBiasRating() == 0)
                #set($color1 = "#000000")
                #set($color2 = "#acacac")
            #elseif($Article.getBiasRating() < 0)
                #set($color1 = "#005EFF")
                #set($color2 = "#D2E3FF")
            #else
                #set($color1 = "#ffcccc")
                #set($color2 = "#ff0000")
            #end

            <div class="container">
                <h4>$Article.getTitle()</h4>
                <div class="bottom-wrap">
                <p class="newsSourceSm" style="background-color:$color2;color:$color1;border: 2px solid  $color1">$Article.getNewsSource()</p>
                <p class="artScore" style="background-color:$color2;color:$color1;border: 2px solid  $color1">$Article.getBiasRating()</p>
                <a href="$Article.getUrl()" target="_blank" class="articleLink">View Article <i class="fas fa-external-link-alt"></i> </a>
                </div>
            </div>

        #end
    #else
        <h4>No Recent Articles</h4>
    #end

</div>
</div>

<p>
    <a href="/addarticle" class="buttonDev">[ Manually add an article ]</a>
</p>