#set($title = "Welcome Page" )
#parse("public/templates/top.vm")

<!html--->
#if($existinguser)

<div id="mySidebar" class="sidebar">
    <a id="sbbutton" href="javascript:void(0)" class="sidebarbutton" onclick="toggle()"><i class="fas fa-bars"></i></a>
    <a id="dashboard" href="/" class="selected"><i class="fas fa-home"></i> Dashboard</a>
    <a id="userstats" href="/userstats"><i class="fas fa-user"></i> User Statistics</a>
    <a id="genstats" href="/genstats"><i class="fas fa-chart-bar"></i> General Statistics</a>
    <a id="about" href="/about"><i class="fas fa-info-circle"></i> About</a>
    <a id="signout" href="/" style="display:none;" onclick="deleteAllCookies()"><i class="fas fa-sign-out-alt"></i> Logout</a>
</div>

<div id="main2">
    <script src="../js/sidebar.js"></script>

    <div class="main">
        <div class="mainHalf">
            <h1>Hello $username,</h1>
            ## Account Color Variables
            #if($biasRating == 0)
                <style>
                    :root {
                        --color1: black;
                        --color2: #acacac;
                    }
                </style>
            #elseif($biasRating < 0)
                <style>
                    :root {
                        --color1: #005EFF;
                        --color2: #D2E3FF;
                    }
                </style>
            #else
                <style>
                    :root {
                        --color1: #ffcccc;
                        --color2: #ff0000;
                    }
                </style>
            #end

            <p class="linkIntro">Your bias rating is: </p>
            <a href="/statsBIAS" class="buttonBigNews" onmouseover="display1()" onmouseout="hide1()">$biasRating</a>
            <br />
            <p class="linkIntro">This type of bias is: </p>
            <a href="/statsBIAS" class="buttonBigNews" onmouseover="display2()" onmouseout="hide2()">$biasName</a>
            <br />
            <p class="linkIntro">Your favorite news source is: </p>
            <a href="/favNews" class="buttonBigNews" onmouseover="display3()" onmouseout="hide3()">$favNews</a>
            <br />
            <p class="linkIntro">Your favorite topic is: </p>
            <a href="/favTopic" class="buttonBigNews" onmouseover="display4()" onmouseout="hide4()">$favTopic</a>
            <script>
                function display1() {
                    document.getElementById("metrics").style.display = "block"
                    document.getElementById("1").style.display = "block"
                }

                function display2() {
                    document.getElementById("metrics").style.display = "block"
                    document.getElementById("2").style.display = "block"
                }

                function display3() {
                    document.getElementById("metrics").style.display = "block"
                    document.getElementById("3").style.display = "block"
                }

                function display4() {
                    document.getElementById("metrics").style.display = "block"
                    document.getElementById("4").style.display = "block"
                }

                function hide1() {
                    document.getElementById("metrics").style.display = "none"
                    document.getElementById("1").style.display = "none"
                }

                function hide2() {
                    document.getElementById("metrics").style.display = "none"
                    document.getElementById("2").style.display = "none"
                }

                function hide3() {
                    document.getElementById("metrics").style.display = "none"
                    document.getElementById("3").style.display = "none"
                }

                function hide4() {
                    document.getElementById("metrics").style.display = "none"
                    document.getElementById("4").style.display = "none"
                }


            </script>
        </div>
        <div id="metrics" class="mainHalf" style="display: none">
            <div class="boxed">
                <p class="infoHeader">Explanation of metrics</p>
                <br />
                ##                Your Bias Rating is the average bias score of your read articles. This value extends from -42 (far left) to 42 (far right).
                <div id="1" style="display: none">
                    <p class="boldInfo">Bias Rating:</p>
                    <p class="info" style="margin-block-end: 0">Your Bias Rating is the average bias score of</p>
                    <p class="info" style="margin-block-end: 0">your read articles. This value extends from</p>
                    <p class="info">-42 (far left) to 42 (far right).</p>
                </div>
                <div id="2" style="display: none">
                    <p class="boldInfo">Type of Bias:</p>
                    <p class="info" style="margin-block-end: 0">Your Type of Bias is a classification of</p>
                    <p class="info">your Bias Rating. </p>
                </div>
                <div id="3" style="display: none">
                    <p class="boldInfo">Favorite News Source:</p>
                    <p class="info" style="margin-block-end: 0">Your Favorite News Source is your most</p>
                    <p class="info">visited news source.</p>
                </div>
                <div id="4" style="display: none">
                    <p class="boldInfo">Favorite Topic:</p>
                    <p class="info" style="margin-block-end: 0">Your Favorite Topic is your most visited</p>
                    <p class="info">topic. You read many articles of this type.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main" style="width: available">
        #parse("public/templates/ArticleCards.vm")
    </div>
#else
    <style>
        body {
            background: linear-gradient(-45deg, #3578f6, #002d69);
            background-size: 400% 400%;
            animation: gradient 20s ease infinite;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    </style>
    <form action="/" method="post" class="content" onsubmit="return validateUsername();">
        <div class="Q1Box">
            <p class="boxHeader">Login to Apple Joose</p>
            #if ($incorrectPassword)
                <h5>Incorrect password!</h5>
            #end
            #if ($noUserFound)
                <h5>Invalid username!</h5>
            #end
            <p>
                <label for="username">Username</label>
            </p>
            <p>
                <input type="text" placeholder="Enter your username" name="username" id="username" />
            </p>
            <p>
                <label for="password">Password</label>
            </p>
            <p>
                <input type="password" placeholder="Enter your password" name="password" id="password" />
            </p>
            <p>
                <a href="/signup" class="SignUpbutton">Create a new account</a>
                <input type="submit" value="Sign in" class="submit" id="divSubmit"/>
            </p>
        </div>

    </form>

    <script src="../js/validate.js"></script>
#end
</div>
#parse("public/templates/bottom.vm")
