#set($title = "Welcome Page" )
#parse("public/templates/top.vm")
<!html--->
#if($existinguser)

<div id="mySidebar" class="sidebar">
    <a id="sbbutton" href="javascript:void(0)" class="sidebarbutton" onclick="toggle()"><i class="fas fa-bars"></i></a>
    <a id="dashboard" href="/" class="selected"><i class="fas fa-home"></i> Dashboard</a>
    <a id="userstats" href="/userstats"><i class="fas fa-user"></i> User Statistics</a>
    <a id="genstats" href="/genstats"><i class="fas fa-chart-bar"></i> General Statistics</a>
    <a id="about" href="/about"><i class="fas fa-info-circle"></i> About</a>
    <a id="signout" href="/" style="display:none;" onclick="deleteAllCookies()">Logout</a>
</div>

<div id="main2">
    <script src="../js/sidebar.js"></script>

    <div class="main">
        <h1>Hello $username,</h1>
        ## Account Color Variables
        #if($biasRating == 0)
            <style>
                :root {
                    --color1: black;
                    --color2: #acacac;
                }
            </style>
        #elseif($biasRating < 0)
            <style>
                :root {
                    --color1: #005EFF;
                    --color2: #D2E3FF;
                }
            </style>
        #else
            <style>
                :root {
                    --color1: #ffcccc;
                    --color2: #ff0000;
                }
            </style>
        #end

        <p class="linkIntro">Your bias rating is: </p>
        <a href="/statsBIAS" class="buttonBigNews">$biasRating</a>
        <br />
        <p class="linkIntro">This type of bias is: </p>
        <a href="/statsBIAS" class="buttonBigNews">$biasName</a>
        <br />
        <p class="linkIntro">Your favorite news source is: </p>
        <a href="/favNews" class="buttonBigNews">$favNews</a>
        <br />
        <p class="linkIntro">Your favorite topic is: </p>
        <a href="/favTopic" class="buttonBigNews">$favTopic</a>

        #parse("public/templates/ArticleCards.vm")
    </div>
#else
    <style>
        body {
            background: linear-gradient(-45deg, #3578f6, #002d69);
            background-size: 400% 400%;
            animation: gradient 20s ease infinite;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    </style>
    <form action="/" method="post" class="content" onsubmit="return validateUsername();">
        <div class="Q1Box">
            <p class="boxHeader">Login to Apple Joose</p>
            <p>
                <label for="username">Username</label>
            </p>
            <p>
                <input type="text" placeholder="Enter your username" name="username" id="username" />
            </p>
            <p>
                <label for="password">Password</label>
            </p>
            <p>
                <input type="password" placeholder="Enter your password" name="password" id="password" />
            </p>
            <p>
                <a href="/signup" class="SignUpbutton">Create a new account</a>
                <input type="submit" value="Sign in" class="submit" id="divSubmit"/>
            </p>
        </div>

    </form>

    <script src="../js/validate.js"></script>
#end
</div>
#parse("public/templates/bottom.vm")
