#set( $title = "Signup Page" )
#parse("public/templates/top.vm")

#if ($added)
<h1>Account created successfully!</h1>
<a href="/" class="button">Back to login</a> ##change css later maybe
#else
<h1>Create Your Account</h1>

#if ($userExists)
<h1>Username already taken!</h1> ##change css to make this red/smaller
#end

<form action="/signup" method="post" class="content" onsubmit="return validateSignup();">
    <div>
        <label for="username">Username:</label>
        <input type="text" placeholder="username" name="username" id="username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" placeholder="password" name="password" id="password" />
    </div>
    <div>
        <label for="confirmPW">Confirm Password:</label>
        <input type="password" placeholder="re-enter password" name="confirmPW" id="confirmPW" />
    </div>
    <div id="divSubmit">
        <input type="submit" value="Create Account" class="submit" />
    </div>
</form>
<a href="/" class="button">Back to login</a> ##change css later maybe
<script src="../js/validate.js"></script>
#end

#parse("public/templates/bottom.vm")