#set( $title = "Signup Page" )
#parse("public/templates/top.vm")

#if ($added)
<h1>Account created successfully!</h1>
<a href="/" class="SignUpbutton"> < Back to login</a>
#else
<h1>Create Your Account</h1>

#if ($userExists)
<h1>Username already taken!</h1> ##change css to make this red/smaller
#end

<form action="/signup" method="post" class="content" onsubmit="return validateSignup();">
    <div class="Q1Box">
        <div class="row">
            <div class="col-25">
                <label for="username">Username:</label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="username" name="username" id="username" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="password">Password:</label>
            </div>
            <div class="col-75">
                <input type="password" placeholder="password" name="password" id="password" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="confirmPW">Confirm Password:</label>
            </div>
            <div class="col-75">
                <input type="password" placeholder="re-enter password" name="confirmPW" id="confirmPW" />
            </div>
        </div>
        <div class="row" id="divSubmit">
            <input class="submit" type="submit" value="Create Account" class="submit" />
        </div>
    </div>
</form>
<a href="/" class="SignUpbutton">< Back to login</a>
<script src="../js/validate.js"></script>
#end

#parse("public/templates/bottom.vm")