#set($title = "statsBIAS page" )
#parse("public/templates/top.vm")

<p>
    <a href="/" class="SignUpbutton">Back to Dashboard</a>
</p>
<br />

<p class="linkIntro">Your current average bias rating is: $biasRating</p>
<br />
<p class="linkIntro">The average bias rating across all users is: $avgBias</p>
<br />

##GRAPH
    <meta charset="utf-8">
    <title>Bias Rating Stats</title>

    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <style>
        body {
            height: 100vh;
            display: block;
            /*justify-content: center;*/
            /*align-items: center;*/
        }

        #chart-one {
            height: 75%;
            width: 80%;
            margin: 0 auto;
        }
    </style>

<p>
<var id="y" style="font-size:0px">$dailyAvgBias</var>
<var id="x" style="font-size:0px">$dailyAvgDates</var>
</p>
<br />

<div id="chart-one"></div>
<p>
<script>
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];

    let data = [];

    let x = document.getElementById("x").innerText;
    let y = document.getElementById("y").innerText;
    // console.log(x);
    // console.log(y);

    let newX = x.substring(1, x.length - 1);
    let newY = y.substring(1, y.length - 1);

    let arrayX = newX.split(", ");
    let arrayY = newY.split(", ");

    for (let i = 0; i < arrayX.length; i++) {
        data.push([arrayX[i], parseFloat(arrayY[i])])
    }

        const chartOneData = {
            type: "line",
            title: {
                text: "Average Bias Ratings",
                adjustLayout: true
            },
            tooltip: {
                text: 'Date: %kt<br>Bias Rating: %vv'
            },
            scaleX: {
                label: {
                    text: 'Date'
                },
                item: {
                    angle: '-45'
                }
            },
            scaleY: {
                label: {
                    text: 'Bias Rating'
                }
            },
            series: [{
                values: data
            }],
            plotarea: {
                margin: 'dynamic'
            }

    }
    zingchart.render({
        id: "chart-one",
        data: chartOneData,
        height: "100%",
        width: "100%"
    });

</script>
</p>






#parse("public/templates/bottom.vm")