#set( $title = "Authors List" )
#parse("public/templates/top.vm")

#if ($authors)
<h1>List of the authors of your favorite books:</h1>
<div class="divContents">
    <ol>
        <p>
            #foreach($author in $authors )
                <li class="content author" ><i>$author.name</i> ($author.nationality) has published $author.numOfBooks books. <button class="$author.name">Remove</button></li>
            #end
        </p>
    </ol>
</div>

<h1>Add a new author</h1>
<form action="/authors" method="post" class="content" onsubmit="return validateAuthor();">
    <label for="name">Name: </label>
    <input type="text" name="name" placeholder="name" id="name" required>   <button>&#10004</button>
    <br />
    <label for="nationality">Nationality: </label>
    <input type="text" name="nationality" placeholder="nationality" id="nationality" />
    <br />
    <label for="numOfBooks">Number of books: </label>
    <input type="number" name="numOfBooks" placeholder="1" id="numOfBooks" min="1" max="200"/>
    <br />
##    <i><input type="submit" value="Add Author" class="submit" /></i>

</form>

#end

<script src="js/validate.js"></script>
<script src="js/delauthor.js"></script>

#parse("public/templates/bottom.vm")